.btn-primary {
  width: 160px;
  height: 48px;
  background: #2241cf;
  border-radius: 16px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #132573;
  }
  &:focus {
    background: #132573;
  }
  &:active {
    background: #132573;
  }
}
.btn-pink {
  width: 160px;
  height: 48px;
  background: #ff3c78;
  border-radius: 16px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #a21f49;
  }
  &:focus {
    background: #a21f49;
  }
  &:active {
    background: #a21f49;
  }
}
.btn-gray {
  width: 160px;
  height: 48px;
  background: #f9f5f2;
  border-radius: 16px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: #c0c0bd;
  }
  &:focus {
    background: #c0c0bd;
  }
  &:active {
    background: #c0c0bd;
  }
}
