@mixin font($name, $color, $size, $weight) {
  font-family: $name, sans-serif;
  color: $color;
  font-size: $size + px;
  font-weight: $weight;
}

@mixin size($width, $height) {
  width: $width + px;
  height: $height + px;
}

@mixin font-size($size, $weight, $height) {
  font-size: $size + px;
  font-weight: $weight;
  line-height: $height + px;
}
