$cls-pink: #ff3c78;
$cls-primary: #2241cf;
$cls-yellow: #f0b143;
$cls-green: #4fc553;
$cls-aqua: #59d7c9;
$cls-white: #f9f5f2;
$cls-whitesmoke: #e1e0de;
$cls-tan: #ffdec6;
$cls-sky: #0069a4;
$cls-black: #172426;
$cls-b-black: #1e1e1e;
