@import '../../../../assets/scss/link';
.review {
  background-image: url('../../../../assets/img/review-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background: #f9f5f2;
  padding: 24px 16px;
  h3 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}
.rev-single {
  @include size(320, 330);
  //width: 320px;
  //height: 330px;
  background: #ffffff;
  border-radius: 16px;
  padding: 32px;
  p {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: 30px auto;
  div {
    @include size(48, 48);
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgba(0, 0, 0, 0.79);
    }
    mat-icon {
      color: white;
    }
  }
  .next {
    margin-left: auto;
  }
  .prev {
    margin-right: auto;
  }
}

@media screen and (min-width: 790px) {
  .review {
    //background-position: center;
    h3 {
      @include font-size(40, 700, 47);
    }
    .swiper {
      margin-top: 62px;
      display: flex;
      justify-content: center;
      padding-left: 80px;
    }
  }
}
