<div class="overview flex items-center flex-wrap">
  <div class="image">
    <img src="assets/img/overview.jpg" alt="overview" />
  </div>
  <div class="text">
    <h5>{{ header }}</h5>
    <p>{{ text }}</p>
    <a class="btn-primary" href="">{{ button }}</a>
    <span class="details">{{ details }}</span>
    <div class="person">
      <img src="assets/img/overview-person.png" alt="overview-person" />
      <div class="info">
        <span class="name">{{ name }}</span>
        <span class="about">{{ about }}</span>
      </div>
    </div>
  </div>
</div>
