@import '../../../../assets/scss/link';
.play {
  padding: 23px 19px 25px 16px;
  position: relative;
  .bg {
    background-image: url('../../../../assets/img/trust.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 342px;
    height: 186px;
    display: flex;
    justify-content: center;
    margin-bottom: 113px;
    padding-top: 30px;
    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: white;
      text-align: center;
    }
  }
  .video {
    position: absolute;
    bottom: -47%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 242px;
    height: 138px;
  }
  ul {
    margin-top: 280px;
    display: flex;
    flex-flow: wrap row;
    gap: 29px;
  }
}
@media screen and (min-width: 790px) {
  .play {
    .bg {
      background-image: url('../../../../assets/img/trust-bg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-color: black;
      width: 100% !important;
      height: 420px !important;
      h3 {
        @include font-size(40, 700, 47);
        margin-top: 62px;
      }
    }
    .video {
      @include size(792, 454);
    }
    ul {
      justify-content: center;
      gap: 66px;
    }
  }
}
