<div class="discoverSection">
  <div class="details">
    <h4>Discover the power of creative freedom with Nisa.</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium
      consectetur egestas mauris adipiscing dui.
    </p>
    <a class="btn-primary" href="">Explore Section</a>
  </div>
  <div class="about">
    <div class="img">
      <img src="assets/img/discover-section.jpg" alt="" />
    </div>
    <div class="det">
      <h3>All Designers</h3>
      <span class="balance">TOTAL BALANCE</span>
      <div class="flex items-center">
        <img src="assets/img/person-1.png" alt="" />
        <img src="assets/img/person-2.png" alt="" />
        <img src="assets/img/person-3.png" alt="" />
        <span>3 Assignces</span>
      </div>
      <div class="info">
        <span>24%</span>
        <span>2M</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
