//@import '../../../../assets/scss/link';
.discoverSection {
  padding: 24px 16px;
  .details {
    h4 {
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-size: 14px;
      margin-top: 16px;
      line-height: 20px;
    }
    a {
      margin-top: 21px;
    }
  }
  .about {
    margin-top: 72px;
    //@include size(343, 386);
    width: 343px;
    height: 386px;
    background: #f9f5f2;
    border-radius: 16px;
    padding: 21px 19px;
    position: relative;
    .img {
      width: 100%;
      height: 100%;
    }
    .det {
      position: absolute;
      //@include size(280, 248);
      width: 280px;
      height: 248px;
      background: white;
      border-radius: 16px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -15%);
      padding: 14px 40px 22px 34px;
      h3 {
        font-style: normal;
        font-size: 32px;
        font-weight: 700;
        line-height: 43px;
        //@include font-size(32, 700, 43);
      }
      .balance {
        margin-top: 6px;
        font-size: 18px;
        line-height: 28px;
      }
      .flex {
        margin-top: 36px;
        height: 33px;
        span {
          font-weight: 900;
          margin-left: 10px;
        }
      }
      .info {
        margin-top: 30px;
        span {
          font-weight: 700;
          font-size: 16px;
        }
        span:nth-child(2) {
          float: right;
        }
        mat-progress-bar {
          margin-top: 8px;
        }
      }
    }
  }
}
:host::ng-deep.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
  background-color: rgb(14 14 16 / 25%);
}
:host::ng-deep.mdc-linear-progress__bar-inner {
  border-color: #000000 !important;
}
@media screen and (min-width: 790px) {
  .discoverSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .details {
      width: 448px;
      h4 {
        //@include font-size(40, 700, 47);
      }
      p {
        //@include font-size(16, 400, 24);
        margin-top: 24px;
      }
    }
  }
}
