<div class="p-4 faq">
  <span class="btn-tan">MEET OUR COMPANY</span>
  <h4 class="text-2xl mt-4">Frequently <span>Asked Questions</span></h4>
  <div class="flex flex-col gap-5 mt-7">
    <mat-accordion>
      <mat-expansion-panel class="mb-4">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I do this thing with that thing?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I do this thing with that thing?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper cum cras proin elementum aenean et cursus consectetur natoque. Pellentesque donec leo, imperdiet elit nec sit fusce ultrices urna. Suspendisse pretium, arcu neque, faucibus pharetra. Sed mi adipiscing etiam porta condimentum donec at.
           Nam quam purus dictum cras sed eget eu. Quam nisl duis quisque faucibus urna risus, vitae. </p>
      </mat-expansion-panel>
   <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I do this thing with that thing?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper cum cras proin elementum aenean et cursus consectetur natoque. Pellentesque donec leo, imperdiet elit nec sit fusce ultrices urna. Suspendisse pretium, arcu neque, faucibus pharetra. Sed mi adipiscing etiam porta condimentum donec at.
           Nam quam purus dictum cras sed eget eu. Quam nisl duis quisque faucibus urna risus, vitae. </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I do this thing with that thing?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper cum cras proin elementum aenean et cursus consectetur natoque. Pellentesque donec leo, imperdiet elit nec sit fusce ultrices urna. Suspendisse pretium, arcu neque, faucibus pharetra. Sed mi adipiscing etiam porta condimentum donec at.
           Nam quam purus dictum cras sed eget eu. Quam nisl duis quisque faucibus urna risus, vitae. </p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
