@import '../../../../assets/scss/link';
div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin-right: 0;
  }
  span {
    @include font('Loto', $cls-white, 22, 700);
  }
  a {
    padding-left: 20px;
  }
}

::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel {
  margin: 0 auto !important;
  min-width: 390px !important;
  max-width: 390px !important;
}
.li {
  display: flex;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
