@import '../../../../assets/scss/link';
div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin-right: 0;
  }
  span {
    @include font('Loto', $cls-white, 22, 700);
  }
  a {
    padding-left: 20px;
  }
}

::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel {
  margin: 0 auto !important;
  min-width: 390px !important;
  max-width: 390px !important;
}
.li {
  display: flex;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
nav {
  display: none;
}
.nav {
  ul {
    li {
      a {
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #ff3c78;
        }
      }
      &:last-child {
        a {
          color: white !important;
        }
      }
    }
  }
}

@media screen and (min-width: 790px) {
  .web {
    max-width: 1440px;
    height: 94px;
    display: flex;
    justify-content: center;
    .btn {
      display: none;
    }
    .nav {
      width: 930px;
      display: block !important;
      color: white;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 30px;

        li {
          //display: flex;
          color: white;
          padding: 0 20px;
          a {
            padding: 0;
          }

          .btn-pink {
            height: 48px;
            padding-left: 0 !important;
          }
        }
      }
    }
    .login {
      margin-left: auto;
    }
    .buy {
    }
  }
}
