footer {
  background: #1e1e1e;
  padding: 40px 16px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  align-items: baseline;
  //display: flex;
  .footer {
    min-width: 328px;
    max-width: 346px;
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: white;
      text-align: left;
    }
    p {
      color: white;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      margin-top: 16px;
    }
    ul {
      display: flex;
      gap: 25px;
      margin-top: 26px;
    }
  }
  .overview {
    text-align: left;
    color: white;
    margin-top: 35px;
    display: inline-block;
    h5 {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: white;
      text-align: left;
    }
    ul {
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 12px;
      li {
        display: flex;
        gap: 16px;
      }
    }
  }

  p {
    color: floralwhite;
    justify-self: flex-end;
    span {
      font-weight: bold;
      color: red;
    }
  }
}
@media screen and (min-width: 790px) {
  footer {
    gap: 50px;
    h3 {
      font-size: 40px !important;
      line-height: 47px !important;
    }
    ul {
      gap: 20px;
      li {
        font-size: 16px;
      }
    }
    h5 {
      font-size: 18px !important;
    }
  }
}
