<footer>
  <section class="footer">
    <h3>Build a beautiful product with align</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus euismod
      fusce pulvinar amet. Sollicitudin nullam mauris tellus accumsan,
      phasellus. Ut ac consequat arcu non aliquam.
    </p>
    <ul class="icon">
      <li>
        <img src="assets/img/icon/twiter.svg" alt="" />
      </li>
      <li>
        <img src="assets/img/icon/facebook.svg" alt="" />
      </li>
      <li>
        <img src="assets/img/icon/google+.svg" alt="" />
      </li>
      <li>
        <img src="assets/img/icon/linkedin.svg" alt="" />
      </li>
      <li>
        <img src="assets/img/icon/pinterest.svg" alt="" />
      </li>
    </ul>
  </section>
  <div class="flex gap-8 pb-8">
    <section class="overview">
      <h5>Overview</h5>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/blog">Blog </a>
        </li>
        <li>
          <a routerLink="/about">About </a>
        </li>
        <li>
          <a routerLink="/team">Team Mamber </a>
        </li>
        <li>
          <a routerLink="/">Blog post </a>
        </li>
      </ul>
    </section>
    <section class="overview page">
      <h5>Pages</h5>
      <ul>
        <li><a routerLink="">Contact </a></li>
        <li><a routerLink="">Customer Story </a></li>
        <li><a routerLink="">Login </a></li>
        <li><a routerLink="">Register </a></li>
        <li><a routerLink="">Style Guide </a></li>
        <li><a routerLink="">Changelog </a></li>
        <li><a routerLink="">Licance </a></li>
        <li><a routerLink="">404 </a></li>
        <li><a routerLink="">Password </a></li>
      </ul>
    </section>
    <section class="overview connect">
      <h5>Connect:</h5>
      <ul>
        <li>+001 234 567 89</li>
        <li>hellow@nesa.com</li>
      </ul>
    </section>
  </div>
</footer>
