footer {
  background: #1e1e1e;
  padding: 40px 16px;
  //display: flex;
  .footer {
    width: 328px;
    display: flex;
    flex-direction: column;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: white;
      text-align: left;
    }
    p {
      color: white;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      margin-top: 16px;
    }
    ul {
      display: flex;
      gap: 25px;
      margin-top: 26px;
    }
  }
  .overview {
    text-align: left;
    color: white;
    margin-top: 35px;
    display: inline-block;
    h5 {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: white;
      text-align: left;
    }
    ul {
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 12px;
      li {
        display: flex;
        gap: 16px;
      }
    }
  }

  p {
    color: floralwhite;
    justify-self: flex-end;
    span {
      font-weight: bold;
      color: red;
    }
  }
}
