.discover {
  padding: 73px 16px 24px 16px;
  margin: 0 auto;
  background: #f9f5f2;
  .img {
    width: 308px;
    height: 380px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .info {
      position: absolute;
      width: 201px;
      height: 216px;
      background: #ffffff;
      border-radius: 12px;
      z-index: 9999;
      left: 50%;
      bottom: 20px;
      transform: translate(-50%, -5%);
      padding: 19px 20px;
      h6 {
        font-size: 12px;
        margin-bottom: 6px;
      }
      .currency {
        font-weight: 700;
        font-size: 24px;
      }
      .percent {
        font-weight: 500;
        font-size: 8px;
        width: 38.07px;
        height: 20.43px;
        background: #ff3c78;
        border-radius: 13px;
        padding: 3px 8px;
        color: #ffffff;
        margin-left: 25px;
      }
      ul {
        display: flex;
        gap: 11px;
        align-items: flex-end;
        margin-top: 15px;
        li:first-child {
          width: 17px;
          height: 71.2px;
          background: #1e1e1e;
          border-radius: 60px;
        }
        li:nth-child(2) {
          width: 17px;
          height: 100px;
          background: #ff3c78;
          border-radius: 60px;
        }
        li:nth-child(3) {
          width: 17.62px;
          height: 60px;
          background: #ff3c78;
          border-radius: 59.4426px;
        }
        li:nth-child(4) {
          width: 17px;
          height: 40px;
          background: #1e1e1e;
          border-radius: 60px;
        }
        li:nth-child(5) {
          width: 17px;
          height: 71.2px;
          background: #1e1e1e;
          border-radius: 60px;
        }
        li:last-child {
          width: 17px;
          height: 71.2px;
          background: #1e1e1e;
          border-radius: 60px;
        }
      }
    }
  }
  .about {
    margin-top: 32px;
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 24px;
    }
  }
  .btn {
    a {
      width: 144px;
      mat-icon {
        margin-left: 16px;
      }
    }
  }
  .details {
    margin-top: 32px;
    div {
      display: flex;
      height: 45px;
      align-items: center;
      margin-top: 18px;
      .circle {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
