<div class="discover">
  <div class="img">
    <img src="assets/img/discover.webp" alt="" />
    <div class="info">
      <h6>EXPENSES</h6>
      <span class="currency">$ 13.70</span>
      <span class="percent">+1.4%</span>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="desc">
    <div class="about">
      <h3>Discover the power of creative freedom with Nisa.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium
        consectetur egestas mauris adipiscing dui.
      </p>
    </div>
    <div class="btn flex gap-4 justify-center">
      <a class="btn-primary" href="">Explore Section</a>
      <a class="btn-pink" href=""
        >Get Started <mat-icon>play_circle_filled</mat-icon>
      </a>
    </div>
    <div class="details">
      <div>
        <span class="circle">
          <img src="assets/img/dicover-1.svg" alt="" />
        </span>
        <span class="text">Built to be customise with complete ease. </span>
      </div>
      <div>
        <span class="circle">
          <img src="assets/img/discover-2.svg" alt="" />
        </span>
        <span class="text">All the pages you need to go live.</span>
      </div>
    </div>
  </div>
</div>
