.header {
  margin: 0 auto;
  h1 {
    font-size: 32px;
  }
  p {
    color: white;
    margin-bottom: 18px;
  }
  button {
    margin-bottom: 52px;
    mat-icon {
      order: 2;
    }
  }
  img {
    margin: 0 auto;
  }
  .relative {
    .info-cart {
      width: 100px;
      height: 97px;
      bottom: 0;
      right: 9%;
      background: white;
      border-radius: 10px;
    }
    .text {
      font-size: 18px;
      font-weight: 500;
    }
    .circle1 {
      margin-top: 7px;
      width: 70px;
      height: 5px;
      border-radius: 4px;
      background: #e1e0de;
    }
    .circle2 {
      margin-top: 4px;
      width: 57px;
      height: 3px;
      border-radius: 3px;
      background: #e1e0de;
    }
    .circle3 {
      margin-top: 9.3px;
      width: 78px;
      height: 17px;
      border-radius: 35px;
      background: #ff3c78;
    }
    .circle4 {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #ff3c78;
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}
