<div class="header">
  <div class="div">
    <h1>Nisa boosts team product excellence</h1>
    <p class="mt-6">
      Nisa is constantly improving to move forward through dashboard,
      statistics, data and verify and superior human resources.
    </p>
    <a class="btn-pink" href="">
      <span class="mr-2">Get Started</span>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </div>
  <div class="relative">
    <img src="assets/img/home-1.png" alt="" />
    <div class="info-cart absolute flex flex-col justify-center items-center">
      <span class="text">{{ text }}</span>
      <span class="circle1"></span>
      <span class="circle2"></span>
      <span class="circle3"></span>
      <span class="circle4"></span>
    </div>
  </div>
</div>
