<div class="section" [style.backgroundColor]='bg' [style.color]="color">
    <img [src]="img" alt="">
    <div class="mt-6">
      <span class="font-black text-4xl">${{price}}</span>
      <span>/month</span>
      <p class="mt-7 text-left text-base"> {{details}}</p>
      <hr class="mt-5">
    </div>
    <ul class="flex flex-col gap-5">
      <li>
        <img src="assets/img/pricing/check.svg" alt="">
        <span>All limited links</span>
      </li>
      <li>
        <img src="assets/img/pricing/check.svg" alt="">
        <span>Own analytics Platform</span>
      </li>
      <li>
        <img src="assets/img/pricing/check.svg" alt="">
        <span>Unlimited users</span>
      </li>
      <li>
        <img src="assets/img/pricing/check.svg" alt="">
        <span>Chat support</span>
      </li>
      <li>
        <img src="assets/img/pricing/check.svg" alt="">
        <span>Optimize hashtags</span>
      </li>
    </ul>
    <a href="" class="btn-primary">Get started</a>
  </div>
