.shared {
  //padding: 64px 16px 10px 16px;
  .about {
    padding: 64px 16px 10px 16px;

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-top: 16px;
    }
    a {
      margin-top: 16px;
    }
  }
  .card {
    width: 100% !important;
    background: #f9f5f2;
    padding: 24px 0 27px 16px;
    display: flex;
    justify-content: center;
  }
  .swiper {
    width: 210px !important;
    margin-top: 20px;
  }
}

@media screen and (min-width: 790px) {
  .shared {
    margin-top: 96px;
    margin-bottom: 125px;
    display: flex;
    justify-content: space-evenly;
    height: 495px;
    .about {
      padding: 50px 0 0 0;
      width: 434px;
      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      a {
        margin-top: 52px;
      }
    }

    .card {
      height: 586px;
      width: 498px !important;
      padding: 24px 24px 27px 24px;
      .wrapper {
        display: flex;
        width: 498px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 27px;
      }
    }
  }
}
