<div class="p-8 text-center items-center pricing">
  <div class="flex justify-center flex-col gap-5 items-center">
  <span class="btn-tan">MEET OUR COMPANY</span>
  <h3 class="text-2xl">Pricing built to suits teams of all sizes</h3>
  <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium consectetur egestas mauris adipiscing dui.</p>
  </div>
  <div class="flex flex-row justify-center gap-5 mt-6">
  <span class="btn-pink">Monthly plan</span>
  <span class="btn-primary">Anual plan</span>
  </div>
  <div class="flex justify-center flex-row flex-wrap gap-5 mt-7">
  <app-paying [price]="39"></app-paying>
  <app-paying [bg]="background" [color]="'white'" [price]="49" [img]="image"></app-paying>
  <app-paying [price]="99"></app-paying>
    </div>
</div>


