<div class="blog">
  <span class="btn-gray text-black">BLOG & ARTICLE</span>
  <h3>
    Take a look at the <br />
    lastest aricles
  </h3>
  <div class="flex flex-col justify-center">
    <div *ngFor="let blog of blog" class="about">
      <div class="singleBlog relative pt-6">
        <a [routerLink]="blog.id" (click)="navigate(blog.id)">
          <img [src]="blog.img" alt="" />
          <p>{{ blog.data }}</p>
          <h6>{{ blog.text }}</h6>
          <a class="link btn-black">{{ blog.stories | uppercase }}</a>
        </a>
      </div>
    </div>
  </div>
</div>
